{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "next": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "loose": true
          }
        ],
        "@babel/preset-react",
        "@babel/preset-flow"
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "esmodules": true
            },
            "loose": true
          }
        ],
        "@babel/preset-react",
        "@babel/preset-flow"
      ]
    },
    "umd": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "umd",
            "loose": true
          }
        ],
        "@babel/preset-react",
        "@babel/preset-flow"
      ]
    }
  }
}
