{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime":"automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
  ],
  "env": {
    "next": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "loose": true
          }
        ],
        [
          "@babel/preset-react",
          {
            "runtime":"automatic"
          }
        ],
        "@babel/preset-typescript"
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "esmodules": true
            },
            "loose": true
          }
        ],
        [
          "@babel/preset-react",
          {
            "runtime":"automatic"
          }
        ],
        "@babel/preset-typescript"
      ]
    },
    "umd": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "umd",
            "loose": true
          }
        ],
        [
          "@babel/preset-react",
          {
            "runtime":"automatic"
          }
        ],
        "@babel/preset-typescript"
      ]
    }
  }
}
